@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
/* @import url('https://fonts.googleapis.com/earlyaccess/kokoro.css'); */

body {
  background: radial-gradient(circle at 50% 20%, #565683 0%, #111134 70%);
  font-family: 'hannari','Amatic SC', serif;
  color: #f8f8ff;
  text-align: center;
  padding: 40px;
}


/* タイトル */
h1 {
  font-size: 1.8rem;
  color: #e7e5ed;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* 説明テキスト */
p {
  margin: 6px 0;
  font-size: 1rem;
  line-height: 1.6;
}

/* カード画像エリア */
.cardImage {
  margin: 30px auto 20px;
}

.cardImage img {
  width: 220px;
  height: 380px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
  transition: transform 0.5s;
}

.cardImage img:hover{
    animation: float 1.5s ease-in-out infinite; /* 1.5s … 1サイクルの時間（短くすると速く動く） */
}

@keyframes float{
    0%  { transform: translateY(0); }   /* 元の位置 */
    50% { transform: translateY(-6px); }    /* 少し上に浮く */
    100%{ transform: translateY(0); }   /* 元の位置に戻る */
}

/* カードを引くボタン */
#drawButton {
  background: linear-gradient(135deg, #7b68ee, #9370db);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* #drawButton:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #6a5acd, #836fff);
}
 */
#drawButton:active{
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

/* 結果エリア */
.result {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.7);
  padding: 0;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.result.show{
    opacity: 1;
}

/* カード名 */
#cardName {
  font-size: 1.3rem;
  font-weight: bold;
  color: #4b3f72;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

/* 意味・メッセージ */
#cardMeaning {
  font-size: 1rem;
  color: #3d355b;
  line-height: 1.8;
  white-space: pre-line;
}
